<div class="table-head">
	<h1>Todo actions</h1>
	<button type="button" nz-button nzType="primary" routerLink="add">Add todo</button>
</div>
<nz-table #basicTable [nzData]="todos">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let todo of basicTable.data">
			<td>{{todo.id}}</td>
			<td>{{todo.todo}}</td>
			<td class="buttons">
				<button type="button" nz-button nzType="primary" routerLink="update/{{todo.id}}">Update</button>
				<button type="button" nz-button nzType="primary" (click)="delateFN(todo.id!)" nzDanger>Delate</button>
			</td>
		</tr>
	</tbody>
</nz-table>